.read,
.unread {
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
}

.unread {
    background-color: rgb(51, 34, 34);
    color: greenyellow;
}

.read {
    background-color: rgb(196, 178, 80);
}

h1,
h2,
h3,
h4 {
    font-style: italic;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
}

.this {
    text-align: left;
}

.pref {
    text-align: start;
}