.read,
.unread {
    text-align: end;
}

.unread {
    background-color: rgb(51, 34, 34);
    color: greenyellow;
}

.read {
    background-color: rgb(196, 178, 80);
}

h1,
h2,
h3,
h4 {
    font-style: italic;
    text-align: center;
}

img {
    width: 300px;
}

p,
ul,
ol {
    text-align: left;
}